@tailwind base;
@tailwind components;
@tailwind utilities;

/* #556ee6 */

/* // BLUEISH */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card:  rgba(255,255,255,0.3) !important;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 152 98% 25%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 250 100% 100%;
    --foreground: 150 98% 25%;

    --card: 222.2 100% 100%;
    --card-foreground: 152 98% 25%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 152 98% 25%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 152 98% 25%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: "transparent";
    border-radius: 4px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: var(--primary); */
    border-radius: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: whitesmoke;
    @apply text-foreground;
  }
  table{
    background-color: rgba(255, 255, 255, 0.4) !important;
  }
  .bg-card {
    background-color: rgba(255, 255, 255, 0.3) !important;
  }
  thead{
    background-color:#636872;
  }
}
.third-level-menu
{
  
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
  z-index: 999999999999999999999999999;
    height: 30px;
    background: rgba(228, 228, 228, 0.85);
}
.third-level-menu > li:hover { background: green; }

[data-vaul-drawer][data-vaul-drawer-direction=bottom]::after {
height: 20% !important;
}

#drawer-content{

  max-width: 90%;
  min-height: 1000px;
  margin-left: 5%;
  overflow: scroll;
  top:0;
}

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
  z-index: 999999999999999999999999999;
    position: relative;
    height: 30px;
    background: rgba(228, 228, 228, 0.85);
}
.second-level-menu > li:hover { background: green; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{ z-index: 999999999999999999999999999;
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: transparent;
}
.top-level-menu > li:hover { background: green }
.top-level-menu a:hover { color: white }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: hsl(222.2deg 84% 4.9% / 80%);
    text-decoration: none;
    padding: 0 0 0 10px;
 

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }
